<div class="navbar-fixed">
    {{#md-navbar name='Crm'  homeRoute='crm'}}
      <!-- A workaround to get the "active" class
        to apply to the active <li> automatically -->

    {{/md-navbar}}

</div>
